<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="tablesDiagnostics" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
  </configSections>

  <connectionStrings>
    <add name="BdName" connectionString="Data Source=localhost;Initial Catalog=Buy4_bo;User ID=MeuUser;Password=xxxxx;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <tablesDiagnostics>
    <tablePermissions>
      <table name="[asgn].[SafraCreditRight]" permissions="select" />
      <table name="[asgn].[RemittanceTitleRegisterNegociateTrailer]" permissions="select;insert" />
      <table name="[asgn].[RemittanceTitleRegisterNegociateDetail]" permissions="select;insert" />
    </tablePermissions>
  </tablesDiagnostics>
</configuration>